<mat-toolbar color='primary'>
  ICMCB
  <button mat-button routerLink="">Home</button>
  <button mat-button routerLink="mission64">Mission64</button>
  <button mat-button routerLink="cvc">CVC</button>
  <button mat-button routerLink="resources">Resources</button>
  <button mat-button routerLink="about">About</button>
  <button mat-stroked-button  routerLink="sign-up">
    Sign up
    <mat-icon>account_circle</mat-icon>
  </button>

  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <button mat-button (click)="logout()">
      Logout
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button  mat-button routerLink="login">
      Login
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>


</mat-toolbar>

<router-outlet></router-outlet>
